@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/card/mdc-card";
@import "@material/elevation/mdc-elevation";

// My main Sass file.
$mdc-theme-primary: #cc2a35;
$mdc-theme-secondary: #727473;
$mdc-theme-background: #fff;

//css for make a permanent drawer


//Clase para agrupar elementos del drawer
.drawerlistthis{
  
}


.probea{
  
}


//Icono appbar






//drawer in the list modifications



//the stay active color of drawer list
:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item--activated::before, :not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item--activated::after {
    background-color: var(--mdc-theme-primary, #ff0000);
}

:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item--activated::before, :not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item--activated::after {
    background-color: #ff0000;
}

:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item--activated::before, :not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item--activated::after {
    background-color: #ff0000;
}

.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
    color: #cc2a35;
}

//END drawer in the list modifications